ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    top: 0;
    left: 0;
}

li{
    float: left;
    font-family: 'Roboto', sans-serif;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #403f3c;
    
}

.section {
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.section .welcomeTitles {
    line-height: 2px;
    color: black;
}

#homePageTitle h1{
    text-align: center;
    font-size: 6rem;
    color: white;
    text-shadow: black 0px 0px 10px;
    font-family: 'Permanent Marker', cursive;
}

#homePageTitle h2{
    text-align: center;
    font-size: 3rem;
    color: white;
    text-shadow: black 0px 0px 10px;
    font-family: 'Playfair Display', serif;
}

#buttonToProfile {

    font-size: 1.5rem;
    border-radius: 12px;
    color: white;
    background-color: transparent;
    border: none;
    opacity: 0.5;
    transition: 0.3s; 
}

#buttonToProfile:hover {
    opacity: 1;
}

#buttonToProfile:visited {
    text-decoration: none;
    color: white;
}


/* flex container home page giving general information about the app */
#homePageAbout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px;
    align-items: center;
}

#homePageItem {
    flex: 1 0 25%;
    color: white;
    text-shadow: black 0px 0px 10px;
    
}

#homePageItem h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#homePageItem p {
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
}



/* video background on home page */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
}

#videoBG{
    position: fixed;
    z-index: -1;
}
/* end of home page */














/* beginning of profile page */
/* profile header */
.header h1{
    padding: 60px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.header {
    background-color: white;
    background-image: url('~./media/profileBackground.jpg');
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

#userWelcome {
    font-family: 'Permanent Marker', cursive;
}

/* flex container for graph and userPlant list */
.graphListContainer{
    display: flex;
    flex-direction: row;
    height: 60vh;
    justify-content: center;
    align-items: stretch;
}

.plantChartContainer{
    flex: 1;
}

.userPlantListDisplay{
    flex: 1;
    overflow-y: auto;
    min-height: 0px;
}





.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    
}

.modal-content h1 {
    font-family: 'Permanent Marker', cursive;
}
  
  
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
  
.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}













/* responsiveness for video on home page */
@media (min-aspect-ratio: 16/9){
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    #videoBG {
        width: auto;
        height: 100%;
    }
}
@media(max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('../media/backgroundStill.png');
        background-size: cover;
    }
   
}