ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    top: 0;
    left: 0;
}

li{
    float: left;
    font-family: 'Roboto', sans-serif;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #403f3c;
    
}

.section {
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.section .welcomeTitles {
    line-height: 2px;
    color: black;
}

#homePageTitle h1{
    text-align: center;
    font-size: 6rem;
    color: white;
    text-shadow: black 0px 0px 10px;
    font-family: 'Permanent Marker', cursive;
}

#homePageTitle h2{
    text-align: center;
    font-size: 3rem;
    color: white;
    text-shadow: black 0px 0px 10px;
    font-family: 'Playfair Display', serif;
}

#buttonToProfile {

    font-size: 1.5rem;
    border-radius: 12px;
    color: white;
    background-color: transparent;
    border: none;
    opacity: 0.5;
    transition: 0.3s; 
}

#buttonToProfile:hover {
    opacity: 1;
}

#buttonToProfile:visited {
    text-decoration: none;
    color: white;
}


/* flex container home page giving general information about the app */
#homePageAbout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px;
    align-items: center;
}

#homePageItem {
    flex: 1 0 25%;
    color: white;
    text-shadow: black 0px 0px 10px;
    
}

#homePageItem h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#homePageItem p {
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
}



/* video background on home page */
.video-container {
    position: absolute;
    top: 0;
    left: 0;

}

#videoBG{
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    #videoBG {
        width: auto;
        height: 100%;
    }
}
@media(max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('../media/backgroundStill.png');
        background-size: cover;
    }
   
}