/* *{border: 1px solid rgba(255, 0, 0, 0)} */

html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: static;
    }

/* navbar styling in base.html */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    top: 0;
    left: 0;
}

li{
    float: left;
    font-family: 'Roboto', sans-serif;
}

.navbarLink li {
    text-shadow: black 0px 0px 10px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: black 0px 0px 10px;
}

li a:hover {
    background-color: #403f3c;
    
}










.section {
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    padding: 25px;
}

.section .welcomeTitles {
    line-height: 2px;
    color: black;
}

#homePageTitle h1{
    text-align: center;
    font-size: 6rem;
    color: white;
    text-shadow: black 0px 0px 10px;
    font-family: 'Permanent Marker', cursive;
}

#homePageTitle h2{
    text-align: center;
    font-size: 3rem;
    color: white;
    text-shadow: black 0px 0px 10px;
    font-family: 'Permanent Marker', cursive;
}








/* flex container home page giving general information about the app */
#homePageAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;
    align-items: baseline;
}

#homePageItem {
    flex: 1 0 25%;
    color: white;
    text-shadow: black 0px 0px 10px;
    text-align: center;
    
}

#homePageItem h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#homePageItem p {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}



/* video background on home page */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
}

#videoBG{
    position: fixed;
    z-index: -1;
}
/* end of home page */














/* beginning of profile page */
/* profile header */
.header h1{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-shadow: black 0px 0px 10px;
}



.header {
    background-size: auto;
    background-image: url('../media/profileLg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25vh;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    z-index: -1;
}

.header .profileTitles{
    line-height: 2px;
    color: white;
}

#userWelcome {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: white;
    text-shadow: black 0px 0px 10px;
}

/* flex container for title and customUserPlant button */
#customPlantBtn{
    background-color: transparent; /* Blue background */
    border: none; /* Remove borders */
    font-size: 16px; /* Set a font size */
    color: black;
    
}

#modalAwesome {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    border: none;
}



/* flex container for graph and userPlant list */
.graphListContainer{
    display: flex;
    flex-direction: row;
    height: 75vh;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

#botanicalBiome{
   font-family: 'Permanent Marker', cursive;
}

.plantChartContainer{
    flex: 1;
    min-width: 0;
}

.userPlantListDisplay{
    flex: 1;
    overflow-y: auto;
    min-height: 0px;
    text-align: center;
    justify-content: center;

}
canvas{
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
}




/* add customUserPLant */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    
}

.modal-content h1 {
    font-family: 'Permanent Marker', cursive;
}
  
  
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: white;
}
  

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
}

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #027368;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #F9ECEC;
    display: none;
    overflow: hidden;
    border-left: #FFDAD6;
    font-family: 'Roboto', sans-serif;

  } 

/* hide user location used to return info form the API */
#plantStateSearch {
    visibility: hidden;
}

#searchTitleDetails{
    font-family: 'Roboto', sans-serif;
}



#addPlantTitle {
    font-family: 'Permanent Marker', cursive;
}

/* style API search input */
.input-container{
    width: 50%;
    justify-content: center;
    position: relative;
    display: flex;
}

#inputSearchBox{
  width: 100%;
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  

  
}


/* table styling */
#tableWrapper {
    position: relative;
}

#returnedAPIObjects{
    height: 300px;
    overflow-y: auto;
    margin-top: 20px;
}

#APIObjectsTable{
    width: 100%;
}

#absoluteTableHeaders{
    position: fixed;
}

/* used by js to freezer table header when scrolling */
.freezeTableHeader{
    position: fixed;
    top: 0;
    width: 100%;
}


th {
    text-align: left;  
}













/* responsiveness for video on home page */
@media (min-aspect-ratio: 16/9){
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    #videoBG {
        width: auto;
        height: 100%;
    }
}

/* mobile responsiveness */
@media(max-width: 767px) {


    /* home page video background */
    #videoBG {
        display: none;
    }
    
    #homeWrapper{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../media/homeBackground.jpg");
        margin: none;
    }


    /* home pages welcome titles */
    .section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
        overflow: hidden;
        padding: 25px;
        
    }
    
    .section .welcomeTitles {
        line-height: 2px;
        color: black;
        
    }
    
    #homePageTitle h1{
        text-align: center;
        font-size: 2.15rem;
        color: white;
        text-shadow: black 0px 0px 10px;
        font-family: 'Permanent Marker', cursive;
        word-break: break-all;
        white-space: normal;
    }
    
    #homePageTitle h2{
        text-align: center;
        font-size: 1.5rem;
        color: white;
        text-shadow: black 0px 0px 10px;
        font-family: 'Roboto', sans-serif;
    }


    /* flex container home page giving general information about the app */
    #homePageAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 70px;
        align-items: center;
    }

    #homePageItem {
        flex: 1 0 25%;
        color: white;
        text-shadow: black 0px 0px 10px;
        
    }

    #homePageItem h1 {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    }

    #homePageItem p {
        font-size: 1.25rem;
        font-family: 'Roboto', sans-serif;
    }







    /* profile styling */

    /* container for title and customUserPlant button */
    

    #customPlantBtn{
        background-color: transparent; /* Blue background */
        border: none; /* Remove borders */
        font-size: 16px; /* Set a font size */
        color: black;
    }

    #modalAwesome {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; 
        border: none;
    }

    /* flex container for graph and userPlant list */
    .graphListContainer{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: stretch;
        overflow: hidden;
    }

    .plantChartContainer{
        flex: 1;
        min-width: 0;
    }

    .userPlantListDisplay{
        flex: 1;
        overflow-y: auto;
        min-height: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    canvas{
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
    }


    /* search box styling */
    .input-container{
        width: 100%;
        justify-content: center;
        position: relative;
        display: flex;
    }


   
}