{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="homeWrapper">
<div id="navbarContainer">
    <ul class="navbarUl">
        <li class=navbarLink><a href="http://127.0.0.1:8000/">Home</a></li>
        {% load static %}
        {% if user.is_authenticated %}
            <li class=navbarLink><a href="{% url 'profile' %}">Profile</a></li>
            <li class=navbarLink><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li class=navbarLink><a href="{% url 'login' %}">login</a></li>
            <li class=navbarLink><a href="{% url 'signup' %}">sign up</a></li>
        {% endif %}
    </ul>
</div>


<!-- displays greeting to new or returning user -->
<div class="section" id="homePageTitle">
  {% load static %}
  {% if user.is_authenticated %}
    <h1 class="welcomeTitles">Yards Biodiversity</h1> 
    <h2 class="welcomeTitles">welcome {{ user.username }}</h2>
  {% else %}
    <h1 class="welcomeTitles">Yards Biodiversity</h1>
  {% endif %}
</div>

<!-- mission, about, contact -->
<div class="container homePageAbout" id="homePageAbout">
  <div id="homePageItem">
      <h1>Mission</h1>
      <p>Our goal is to give individuals the ability to asses their the biodiversity in their immediate vicinity.</p>
      <p>Add plants you own and those that are planted in your area to glimpse the ratio of native, nonnative,and invasive plants. </p>
  </div>

  <div id="homePageItem">
      <h1>About</h1>
      <p>Our data was taken from the USDA. We want encourage everyone to plant native species and be a steward of the environment around them.  </p>
  </div>

  <div id="homePageItem">
      <h1>Contact</h1>
      <p>Find me on Instagram</p>
      <p>@ouldgardens</p>
  </div>

</div>


<!-- looping full screen background video -->
<div class="video-container">
  <video id="videoBG" poster="{% static 'media/backgroundStill1.png' %}" autoplay muted loop>
    <source src="{% static 'media/altBackground.mp4' %}" type="video/mp4">
  </video>
</div>
</div>


{% endblock %}

{% static 'css/site.css' %}