{% extends 'base.html' %}
{% load static %}




{% block title %}Home{% endblock %}

{% block content %}


<!-- make sure users are logged in to see site -->
{% if user.is_authenticated %}
<div class=header id="profileHeader">
    <h1>Yards BioDiversity</h1>
    <div class="profileImageContainer">
    </div>
</div>

<h2 id="userWelcome">Welcome {{ user.username }}</h2>



<!-- create flex container for chart and userPlant list -->
<div class="graphListContainer">

    

     <!-- userPlant list -->
    <div class="userPlantListDisplay">
        <h3 id="userPlantListTitle">Your Plant List</h3>
        <ul>
            {% for plant in userPlants %}   
                <p>{{ plant.scientificNameAuthor }} <button onclick="location.href='http://127.0.0.1:8000/{{ plant.id }}/delete'">Delete</button></p>
            {% endfor %}
        </ul>
    

    <button type="button" id="customPlantBtn">Add Custom Plant</button>
    <!-- customUserPlantForm -->
    <div id="customUserPlantModal" class="modal">
        <div class="modal-content">
            <span class="close-button">x</span>
            <form action="{% url 'yardsApp:customUserPlant' %}" method="POST"> 
                {% csrf_token %}

                <h1 id="customPlantTitle" >Add Custom Plant</h1>
                <input type="text" placeholder="Scientific Name" name="scientificNameAuthor">
                <input type="text" placeholder="Common Name" name="nationalCommonName">
                <input type="text" placeholder="Plant Family" name="family">
                <input type="text" placeholder="Native Region" name="nativeState">
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </div>
    </div>

    <!-- chart -->
    <div id="userPlantChart">
            <div id="plantChartContainer">
            <canvas id="plantChart" width="600" height="600"></canvas>
            </div>
        </div>  
</div>



<!-- new content with vue -->
<div class="APIDynamicSearch">
    <h2 id="plantStateSearch">{{ user.location }}</h2>
    <div id="searchAPI">
        <div class="input-container">
            <input type="text" placeholder="Search for a plant..." v-model="searchInput">
        </div>

        <ul id="returnedAPIObjects">
            <template class="APIObject" v-for="searchResult in filteredResults">
                <tr>
                    <td v-text="searchResult.scientificNameAuthor"></td>
                    <td v-text="searchResult.nationalCommonName"></td>
                    <td v-text="searchResult.family"></td>
                    <td>
                        <button v-on:click="getPlant(searchResult.symbol)" type="button">Add Plant</button>
                    </td>
                </tr>
            </template>
        </ul>
    </div>
</div>





<!-- import vie, axios, js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- axios may already be installed on the project, adding just incase it needs to be added to HTML specifically -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="{% static 'js/profile.js' %}"></script>


<!-- If user is not logged in they cannot access information -->
{% else %}
    <div>Please Log In</div>
    
{% endif %}
{% endblock %}
