{% extends 'base.html' %}
{% load static %}




{% block title %}Home{% endblock %}

{% block content %}


<!-- make sure users are logged in to see site -->
{% if user.is_authenticated %}
<div class=header id="profileHeader">
    <div id="navbarContainer">
        <ul class="navbarUl">
            <li class=navbarLink><a href="http://127.0.0.1:8000/">Home</a></li>
            <!-- navbar -->
            <li class=navbarLink><a href="{% url 'profile' %}">Profile</a></li>
            <li class=navbarLink><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>

    <!-- page title -->
    <div class="titleWrapper">
        <h1 class="profileTitles" >Yards BioDiversity</h1>
        <h2 class="profileTitles" id="userWelcome">Welcome {{ user.username }}</h2>
    </div>

</div>


<!-- create flex container for chart and userPlant list -->

<div class="graphListContainer">
        
     <!-- userPlant list -->
    <div class="userPlantListDisplay">
            <h2 id="botanicalBiome" >{{ user.username }}'s Botanical Biome   
            </h2>
 
        <ul>
            {% for plant in userPlants %}   
                <button class="accordion">{{ plant.scientificNameAuthor }}</button> 
                <div class="panel">
                    <p>Common Name: {{plant.nationalCommonName}}</p>
                    <p>Native State: {{plant.nativeState}}</p>
                    <p>Invasive Status: {{plant.isInvasive}}</p>
                    <div>
                        <p>Number of Plants: {{plant.numberOfPlant}}</p>

                        <form action="{% url 'yardsApp:editUserPlant' plant.id %}" method="POST">
                            {% csrf_token %}
                            <input type="number" name="numberOfPlant" placeholder="Update Number of Plant">
                            <input type="submit" name="submit" value="Submit">
                        </form>
                        
                    </div>
                    

                    <button onclick="location.href='http://127.0.0.1:8000/{{ plant.id }}/delete'">Delete</button>

                </div><br>
            {% endfor %}
        </ul>
    
    <!-- customUserPlantForm -->
    <div id="customUserPlantModal" class="modal">
        <div class="modal-content">
            <span class="close-button"><i class="fas fa-window-close fa-lg"></i></span>
            <form action="{% url 'yardsApp:customUserPlant' %}" method="POST"> 
                {% csrf_token %}

                <h1 id="customPlantTitle" >Add Custom Plant</h1>
                <input type="text" placeholder="Scientific Name" name="scientificNameAuthor">
                <input type="text" placeholder="Common Name" name="nationalCommonName">
                <input type="text" placeholder="Plant Family" name="family">
                <input type="text" placeholder="Native Region" name="nativeState">
                <input type="number" placeholder="Number of Plants (min 1)" name="numberOfPlant">
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </div>
    </div>

    <!-- chart -->
    <div id="userPlantChart">
        <div id="plantChartContainer">
            <canvas id="plantChart" width="600" height="600"></canvas>
        </div>
    </div>  
</div>



<!-- new content with vue -->
<div class="expand">
    <div class="APIDynamicSearch">
        <h2 id="plantStateSearch">{{ user.location }}
        <h1 id="addPlantTitle">Add plants to your biome</h1>
        </h2>
        <h2 id="searchTitleDetails">Search for plants in {{ user.location }}  or add a species outside of {{ user.location }}</h2>
        <div id="searchAPI">
            <div class="input-container">
                <input id="inputSearchBox" type="text" placeholder="Search for a plant by scientific name..." v-model="searchInput">
                <button type="button" id="customPlantBtn">
                    <i id="modalAwesome" class="fas fa-plus-square fa-lg"></i>
                </button>
            </div>

            <div id="tableWrapper">
                <ul id="returnedAPIObjects">
                    <table id="APIObjectsTable">
                        <div id="absoluteTableHeaders">
                        <tr>
                                <th scope="col" >Scientific Name & Author</th>
                                <th scope="col">Common Name</th>
                                <th scope="col">Plant Family</th>
                                <th scope="col">Add to your plant list</th>
                        </tr>
                    </div>
                    <template class="APIObject" v-for="searchResult in filteredResults">
                        <tr>
                            <td v-text="searchResult.scientificNameAuthor"></td>
                            <td v-text="searchResult.nationalCommonName"></td>
                            <td v-text="searchResult.family"></td>
                            <td>
                                <button v-on:click="getPlant(searchResult.symbol)" type="button">Add Plant</button>
                            </td>
                        </tr>
                    </template>
                </table>
                </ul>
            </div>
        </div>
    </div>
</div>





<!-- import vie, axios, js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- axios may already be installed on the project, adding just incase it needs to be added to HTML specifically -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="{% static 'js/profile.js' %}"></script>


<!-- If user is not logged in they cannot access information -->
{% else %}
    <div>Please Log In</div>
    
{% endif %}
{% endblock %}
